@charset "UTF-8";

@media screen {
   
   input-text.font{
      color: white;
   }
   div.container {
      margin: 0 auto 0;
       width: 600px;
      color:#FFF
   }
   p.title{
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #00004d;
   }
   
   .form-area table {
      background-color: #00004d;
      margin-bottom: 15px;
      border-collapse: collapse;
      width: 100%;
      color:#FFF;
	  border: 1px solid #00004d;
   }
   .form-area table:last-child {
      margin-bottom: 0;
      background-color: #FFF;
      color:#FFF;
   }
   .form-area table tr td {
      border-bottom: 1px solid #00004d;
	  background-color: #FFF;
      padding: 5px 10px;
   }
   .form-area table tr:last-child td {
      border-bottom: 1px solid #00004d;
      background-color: #FFF;
   }
   .input-text {
      border: none;
      height: 30px;
      padding: 2px 0px;
      width: 100%;
      font-size: 14px;
      background-color: #FFF;
      color:#00004d;
   }
   input-text.font{
      color: #00004d;
   }
   input::-webkit-input-placeholder { 
      color: #00004d; 
	  font-size: 17px;
   }
   .form-area table tr td select {
      width: 180px;
      border: none;
      height: 30px;
      padding: 2px 0px;
      font-size: 14px;
      background-color: #00004d;
      color:#FFF
   }
   .form-area table tr td .alert {
      color: #ef0003;
      font-size: 12px;
      margin: 5px 0;
      display: none;
      background-color: #00004d;
   }
   
   .button-area {
      text-align: center;
      padding: 10px 0;
   }
   .btn-type-01 {
      display: inline-block;
      width: 100%;
      font-size: 30px;
      letter-spacing: -1px;
      font-weight: bold;
      height: 60px;
      line-height: 55px;
      text-decoration: none;
      border-radius: 0;
      background-color: #00004d;
      color: #FFF;
   }
}